<app-header></app-header>
<app-siler></app-siler>
<div nz-row class="bg">
    <div nz-col [nzSpan]="16" nzOffset="4" class="product">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="4" *ngFor="let item of product$ | async">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">{{item.name}}</h4>
                    <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="" class="product_item-desc-img">
                    <h3 class="product_item-price"> {{item.price}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>