<app-header></app-header>
<app-siler></app-siler>
<div nz-row class="bg">
    <div nz-col [nzSpan]="16" nzOffset="4" class="product">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="product_item">
                    <img src="../../assets/img/slider5.png" alt="" class="product_item-img">
                    <h4 class="product_item-desc">aaaaaaaa</h4>
                    <h3 class="product_item-price"> 100 NVD</h3>
                </div>
            </div>
            
        </div>
    </div>
</div>