.product_item {
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(240, 239, 239);
}

.product_item-img {
    padding-top: 10px;
}

.product_item-desc {
    position: relative;
}

.product_item-desc-img {
    position: absolute;
    height: 30px;
    width: 30px;
    cursor: pointer;
    right: 22px;
    bottom: 13px;
}